@font-face {
    font-family: "Lato";
}

@font-face {
    font-family: "Lato Bold";
}

.root {
    -fx-font-family: "Lato";
    -fx-background-color: #e6f0ff;
}

.table-view {
    -fx-background-color: #00B9b3;
    -fx-text-fill: #fbfcfc;
}

.table-column {
    -fx-alignment: CENTER;
    -fx-font-size: 14px;
    -fx-text-fill: #fbfcfc;
}

.button {
    -fx-background-color: #2980b9;
    -fx-text-fill: #fbfcfc;
    -fx-font-weight: bold;
    -fx-font-family: "Lato";
}

.text-field {
    -fx-background-color: #fbfcfc;
    -fx-text-fill: #17202a;
}
