.main_menu_container {
    -fx-background-color: white;
    -fx-alignment: center;
}

.left_container {
    -fx-background-color: white;
    -fx-alignment: center;
  /*  -fx-background-radius: 10 0 10 0; */
    -fx-effect: dropshadow(two-pass-box, #AAAAAA, 5, 0, 0, 4);
}

.title_container {
    -fx-background-color: #2571AE;
    -fx-alignment: top_center;
  /* -fx-background-radius: 20 20 0 0;  */
    -fx-padding: 10;
}

.menu_container {
    -fx-padding: 10 10 10 10;
    -fx-spacing: 20;
    -fx-background-color: white;
    -fx-alignment: center;
    -fx-background-radius: 5;
}

.menu_container Button {
    -fx-pref-width: 115;
    -fx-pref-height: 40;
    -fx-background-color: #e6f0ff;
    -fx-text-fill: #2571AE;
    -fx-font-size: 1.1em;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 5, 0, 0, 6);
}

.menu_container Button:hover {
    -fx-cursor: hand;
}

.menu_container Button FontAwesomeIconView {
    -fx-fill: #2571AE;
}

.alt_menu_btn {
    -fx-pref-width: 115;
    -fx-pref-height: 40;
    -fx-background-color: #2571AE;
    -fx-text-fill: white;
    -fx-font-size: 1.1em;
    -fx-alignment: center_left;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 5, 0, 0, 6);
}

.alt_menu_btn FontAwesomeIconView {
    -fx-fill: white;
}

.report_container {
    -fx-background-color: #e6f0ff;
    -fx-background-radius: 10;
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-padding: 10 0 10 0;
}

.report_container Text {
    -fx-font-weight: bold;
    -fx-fill: #2571AE;
}

.report_container Label {
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

.report_container Button {
    -fx-pref-width: 80;
    -fx-background-color: #2571AE;
    -fx-text-fill:#e6f0ff;

}

.report_container Button:hover {
    -fx-cursor: hand;
}

.report_container Button FontAwesomeIconView {
    -fx-fill: #e6f0ff;
}
